*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color:rgb(240, 254, 255);
}

nav{
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    align-items: center;
   
}

.logo{

    display: flex;
    align-items: center;
    justify-content: center;

}

.logo {
    height: 4%;
    width: 15%;
    margin-left: 2%;
   
}

.logo img{
    
    height: 8vh;
    width: 12vw;
}

.logo img:hover{
    height: 7.5vh;
    width: 11.5vw;
}

.logo:hover{
  border: 2px solid rgb(47, 255, 127) ;
  border-radius: 7px;
}

ul   {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

ul li {
    padding: 1.5rem;
    align-items: center;
    font-size: 90%;
    font-weight: 700;

}

li a {
    color: black;
}

li a:hover{

    text-decoration: underline;
    color: rgb(16, 183, 46);
}

div{
    display: flex;
    font-size: 15px;
    
}

h1{
    font-weight: 800;
}


form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 60vh;
    width: 22%;
    justify-content: space-around;
    margin-top: 12%;
    background-color: #fff;
    margin-left: 39%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

h3{
    display: flex;
    flex-direction: column;
}

button{
    height: 30px;
    width: 160px;
    border-radius: 7px;
    background-color: #26e07a;
    color: aliceblue;
    font-weight: 800;
    border: 1.5px solid green;
}

button:hover{
    height: 28px;
    width: 158px;
    font-weight: 900;
}